<%
	var language = page.lang === 'cn' ? 'cn' : 'en';
%>

<div class="container">
	<%- partial('_partial/title') %>
	<%- partial('_partial/menu') %>
	<img class="homepage-cover" src="<%= theme.index_cover %>" alt="homepage_cover">
	<% if (language === 'en') { %>
		<%- partial('_partial/footer') %>
	<% } else { %>
		<%- partial('_partial/footer-cn') %>
	<% } %>
</div>