<!DOCTYPE html>
<html <% if(config.language) { %>lang="<%= config.language %>"<% } else { %>lang="en"<% }%>>

<%- partial('_partial/head') %>

<body>

	<div class="container">
		<%- partial('_partial/title') %>
		<%- partial('_partial/menu') %>
		<h2><%- page.title %></h2>
		<img src="<%- page.cover ? page.cover : theme.article_cover_placeholder %>" alt="cover">
		<p><%- page.content %></p>
	</div>

</body>

</html>